<template>
  <div class="profilePage">
    <h1>{{this.personalCharacter.name}}</h1>
    <div class="upperLine"></div>
    <div class="leftLine"></div>
    <div class="rightLine"></div>
    <ProfileStats :character="personalCharacter" />
    <a @click="playGame" class="a-button" id="play">Jugar</a>
    <a @click="deleteCharacter" class="a-button" id="delete">Borrar personaje</a>
  </div>
</template>

<script>
import ProfileStats from '@/components/Profile/ProfileStats.vue';
import api from "@/api";

export default {
  name: 'ProfilePage',
  components: {
    ProfileStats
  },
  data() {
    return {
      personalCharacter: {
        type: Object
      }
    }
  },
  mounted: function() {
    this.getCharacter();
  },
  methods: {
    async getCharacter() {
      this.personalCharacter = await api.getCharacter();
    },
    playGame() {
      this.$router.push('/')
    },
    async deleteCharacter() {
      await api.deleteCharacter(this.personalCharacter.id);
      this.$router.push('/')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  position: absolute;
  left: 38rem;
  margin-top: 4rem;
  font-family: Roboto;
  color: #E5E5E5;
}
.stats {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  text-align: left;
}

.a-button {
  position: absolute;
  padding: 0.5rem;
  top: 28rem;
  left: 24.5rem;
  width: 15rem;

  font-family: Roboto;
  font-style: normal;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.075em;
  text-decoration: none;

  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

.a-button:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  font-weight: 900;
}

#delete {
  top: 32rem;
  left: 24.5rem;
}

.upperLine {
  position: absolute;
  width: 56.25rem;
  height: 0;
  left: 15rem;
  top: 6.8rem;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.leftLine {
  position: absolute;
  width: 15rem;
  height: 0;
  left: 6rem;
  top: 14.4rem;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-55deg);
}

.rightLine {
  position: absolute;
  width: 15rem;
  height: 0;
  left: 64rem;
  top: 14.4rem;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(55deg);
}
</style>
