<template>
  <div class="StatsForm">
    <div class="stat" id="stat1">Fuerza: {{this.character.strength}}</div>
    <div class="statLine" id="line1"></div>
    <div class="stat" id="stat2">Percepción: {{this.character.perception}}</div>
    <div class="statLine" id="line2"></div>
    <div class="stat" id="stat3">Resistencia: {{this.character.endurance}}</div>
    <div class="statLine" id="line3"></div>
    <div class="stat" id="stat4">Carisma: {{this.character.charisma}}</div>
    <div class="statLine" id="line4"></div>
    <div class="stat" id="stat5">Inteligencia: {{this.character.intelligence}}</div>
    <div class="statLine" id="line5"></div>
    <div class="stat" id="stat6">Agilidad: {{this.character.agility}}</div>
    <div class="statLine" id="line6"></div>
    <div class="stat" id="stat7">Nivel: {{this.character.level}}</div>
    <div class="statLine" id="line7"></div>
    <div class="stat" id="stat8">Salud: {{this.character.health}}</div>
    <div class="statLine" id="line8"></div>
    <div class="stat" id="stat9">Experiencia: {{this.character.experience}}</div>
    <div class="statLine" id="line9"></div>
    <div class="stat" id="stat10">Karma: {{this.character.karma}}</div>
    <div class="statLine" id="line10"></div>
    <div class="stat" id="stat11">Reputación: {{this.character.reputation}}</div>
  </div>
</template>

<script>

export default {
  name: 'StatsForm',
  props: {
    character: {
      type: Object
    }
  },
  mounted: function() {
    this.showCharacter();
  },
  methods: {
    showCharacter() {
      console.log("Personaje:", this.character.strength);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.statNumber {
  width: 1rem;
  height: 1rem;
  text-align: center;
}
.stat {
  position: absolute;
  left: 34.5rem;
  top: 20rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.075em;

  color: #FFFFFF;
}
#stat1 {
  left: 25rem;
  top: 8.5rem;
}
#stat2 {
  left: 25rem;
  top: 12.5rem;
}
#stat3 {
  left: 25rem;
  top: 16.5rem;
}
#stat4 {
  left: 25rem;
  top: 20.5rem;
}
#stat5 {
  left: 25rem;
  top: 24.5rem;
}
#stat6 {
  left: 47rem;
  top: 8.5rem;
}
#stat7 {
  left: 47rem;
  top: 12.5rem;
}
#stat8 {
  left: 47rem;
  top: 16.5rem;
}
#stat9 {
  left: 47rem;
  top: 20.5rem;
}
#stat10 {
  left: 47rem;
  top: 24.5rem;
}
#stat11 {
  left: 47rem;
  top: 28.5rem;
}
</style>
