<template>
    <nav id="nav">
        <router-link to="/" class="link" id="start">Inicio</router-link>
        <router-link to="/profile" class="link" id="profile">Perfil</router-link>
        <router-link to="/about" class="link" id="about">About</router-link>
    </nav>
</template>

<script>

export default {
    name: 'Nav'
}
</script>

<style scoped>
nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
}
.link {
    top: 1rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.075em;

    color: #FFFFFF;
}

#start {
    position: absolute;
    left: 3.2rem;
}

#profile {
    position: absolute;
    left: 40rem;
}

#about {
    position: absolute;
    left: 76.8rem;
}
</style>
