<template>
  <div class="ManualStats">
    <h1>{{this.personalCharacter.name}}</h1>
    <div class="upperLine"></div>
    <div class="leftLine"></div>
    <div class="rightLine"></div>
    <div class="remainingPoints">Puntos restantes: {{this.remainingPoints}}</div>
    <StatsForm :character="personalCharacter" @sendUsedPoints="setRemainingPoints" @sendConfirmation="confirmStats"/>
  </div>
</template>

<script>
import StatsForm from '@/components/ManualStats/StatsForm.vue';
import api from "@/api";

export default {
  name: 'ManualStats',
  components: {
    StatsForm
  },
  data() {
    return {
      pcName: "",
      stats: {
        type: Array
      },
      personalCharacter: {
        type: Object
      },
      totalPointsToUse: 30,
      remainingPoints: 24,
    }
  },
  mounted: function() {
    this.getCharacter();
  },
  methods: {
    async getCharacter() {
      this.personalCharacter = await api.getCharacter();
    },
    async confirmStats(character) {
      character.character_created = true;
      this.personalCharacter = character;
      await api.updateCharacter(this.personalCharacter);
      this.$router.push('/profile');
    },
    setRemainingPoints(usedPoints) {
      this.remainingPoints = this.totalPointsToUse - usedPoints;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  position: absolute;
  left: 38.7rem;
  margin-top: 4rem;
  font-family: Roboto;
  color: #E5E5E5;
}
.stats {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  text-align: left;
}
.remainingPoints {
  position: absolute;
  left: 36rem;
  top: 8rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.075em;

  color: #FFFFFF;
}

.upperLine {
  position: absolute;
  width: 56.25rem;
  height: 0;
  left: 15rem;
  top: 10.5rem;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.leftLine {
  position: absolute;
  width: 15rem;
  height: 0;
  left: 6rem;
  top: 18rem;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-55deg);
}

.rightLine {
  position: absolute;
  width: 15rem;
  height: 0;
  left: 64rem;
  top: 18rem;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(55deg);
}
</style>
