<template>
  <section class="StatsForm">
    <article class="stat" id="stat1">Fuerza <input type="number" class="statNumber" v-model="localCharacter.strength" v-on:keyup="emitPointChanged" min="1"></article>
    <div class="statLine" id="line1"></div>
    <article class="stat" id="stat2">Percepción <input type="number" class="statNumber" v-model="localCharacter.perception" v-on:keyup="emitPointChanged" min="1"></article>
    <div class="statLine" id="line2"></div>
    <article class="stat" id="stat3">Resistencia <input type="number" class="statNumber" v-model="localCharacter.endurance" v-on:keyup="emitPointChanged" min="1"></article>
    <div class="statLine" id="line3"></div>
    <article class="stat" id="stat4">Carisma <input type="number" class="statNumber" v-model="localCharacter.charisma" v-on:keyup="emitPointChanged" min="1"></article>
    <div class="statLine" id="line4"></div>
    <article class="stat" id="stat5">Inteligencia <input type="number" class="statNumber" v-model="localCharacter.intelligence" v-on:keyup="emitPointChanged" min="1"></article>
    <div class="statLine" id="line5"></div>
    <article class="stat" id="stat6">Agilidad <input type="number" class="statNumber" v-model="localCharacter.agility" v-on:keyup="emitPointChanged" min="1"></article>
    <div class="statLine" id="line6"></div>
    <a class="confirmStats" v-if="this.usedPoints == 30" @click="emitConfirmation">Confirmar</a>
  </section>
</template>

<script>

export default {
  name: 'StatsForm',
  props: {
    character: {
      type: Object
    },
  },
  data() {
    return {
      localCharacter: {
        type: Object
      },
      usedPoints: 0
    }
  },
  methods: {
    emitPointChanged() {
      this.usedPoints = parseInt(this.localCharacter.strength) + parseInt(this.localCharacter.perception) + parseInt(this.localCharacter.endurance) + parseInt(this.localCharacter.charisma) + parseInt(this.localCharacter.intelligence) + parseInt(this.localCharacter.agility);
      this.$emit("sendUsedPoints", this.usedPoints);
    },
    emitConfirmation() {
      this.$emit("sendConfirmation", this.localCharacter);
    }
  },
  watch: {
    character: {
      immediate: true,
      handler: function(character) {
        this.localCharacter = JSON.parse(JSON.stringify(character));
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.statNumber {
  position: absolute;
  width: 1rem;
  height: 1rem;
  text-align: center;
  left: 12rem;
}
.stat {
  position: absolute;
  left: 34.5rem;
  top: 20rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.075em;

  color: #FFFFFF;
}

#stat1 {
  top: 12rem;
}

#stat2 {
  top: 16rem;
}

#stat3 {
  top: 20rem;
}

#stat4 {
  top: 24rem;
}

#stat5 {
  top: 28rem;
}

#stat6 {
  top: 32rem;
}

.statLine {
  position: absolute;
  width: 6rem;
  height: 0px;
  left: 34rem;

  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#line1 {
  top: 14rem;
}

#line2 {
  top: 18rem;
}

#line3 {
  top: 22rem;
}

#line4 {
  top: 26rem;
}

#line5 {
  top: 30rem;
}

#line6 {
  top: 34rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.confirmStats {
  position: absolute;
  padding: 0.5rem;
  top: 36rem;
  left: 38rem;

  font-family: Roboto;
  font-style: normal;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.075em;
  text-decoration: none;

  color: #FFFFFF;
  cursor: pointer;
}

.confirmStats:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  font-weight: 900;
}
</style>
