<template>
  <div class="StatItem">
    <div>Puntos restantes: {{this.remainingPoints}}</div>
  </div>
</template>

<script>

export default {
  name: 'StatItem',
  props: {
    remainingPoints: {
      type: Number,
      default: 20
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
