<template>
  <div class="StartTests">
    <h1>{{this.personalCharacter.name}}</h1>
    <div class="internalDiamond"></div>
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    <div class="line4" id="name"></div>
    <router-link to="/storystats" class="links" id="storyMode">Modo historia</router-link><br>
    <a @click="randomStats" class="links" id="randomMode">Aleatorio</a><br>
    <router-link to="/manualstats" class="links" id="manualMode">Manual</router-link><br>
    <a @click="deleteCharacter" class="links" id="deleteCharacter">Borrar personaje</a>
  </div>
</template>

<script>
import api from "@/api";

export default {
  name: 'StartTests',
  props: {
    personalCharacter: {
      type: Object
    }
  },
  mounted: function() {
    this.getCharacter();
  },
  methods: {
    async getCharacter() {
      this.personalCharacter = await api.getCharacter();
    },
    async deleteCharacter() {
      this.$emit("deleteCharacter", this.personalCharacter.id);
    },
    randomStats() {
      var pointsToAssign = 36;
      this.personalCharacter.strength = this.randomNumber(pointsToAssign - 5);
      pointsToAssign -= this.personalCharacter.strength;
      this.personalCharacter.perception = this.randomNumber(pointsToAssign - 4);
      pointsToAssign -= this.personalCharacter.perception;
      this.personalCharacter.endurance = this.randomNumber(pointsToAssign - 3);
      pointsToAssign -= this.personalCharacter.endurance;
      this.personalCharacter.charisma = this.randomNumber(pointsToAssign - 2);
      pointsToAssign -= this.personalCharacter.charisma;
      this.personalCharacter.intelligence = this.randomNumber(pointsToAssign - 1);
      pointsToAssign -= this.personalCharacter.intelligence;
      this.personalCharacter.agility = pointsToAssign;
      this.personalCharacter.character_created=true;
      api.updateCharacter(this.personalCharacter);
      this.$router.push('/profile')
    },
    randomNumber(max) {
      var number = Math.floor(Math.random() * max) + 1
      if(number > 10) {
        return 10;
      } else {
        return number;
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

h1 {
  position: absolute;
  text-align: center;
  color: #E5E5E5;
  margin: 40px 0 0;
  left: 37.5rem;
  top: 35rem;
  font-family: Roboto;
}

.internalDiamond {
  position: absolute;
  width: 7.2rem;
  height: 7.2rem;
  left: 37.5rem;
  top: 50rem;

  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  transform: rotate(45deg);
}

.line1 {
  position: absolute;
  width: 8rem;
  left: 33.4rem;
  top: 50rem;

  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-45deg);
}

.line2 {
  position: absolute;
  width: 8rem;
  left: 33.4rem;
  top: 57.2rem;

  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(45deg);
}

.line3 {
  position: absolute;
  width: 8rem;
  left: 41.1rem;
  top: 57.2rem;

  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-45deg);
}

.line4 {
  position: absolute;
  width: 8rem;
  left: 41.1rem;
  top: 50rem;

  border: 1px dashed rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(45deg);
}

#storyMode {
  left: 36.4rem;
  top: 43.5rem;
}

#randomMode {
  left: 25.9rem;
  top: 52.3rem;
}

#manualMode {
  left: 48.9rem;
  top: 52.3rem;
}

#deleteCharacter {
  left: 35.4rem;
  top: 61rem;
}

.links {
  position: absolute;
  padding: 0.5rem;

  font-family: Roboto;
  font-style: normal;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.075em;
  text-decoration: none;

  color: #FFFFFF;
  cursor: pointer;
}

.links:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  font-weight: 900;
}
</style>
