<template>
  <div class="startName">
    <input type="text" id="textboxName" placeholder="Introduce el nombre del personaje" v-model="pcName">
    <a @click="setName" class="a-button" id="name">Confirmar</a><br>
  </div>
</template>

<script>
export default {
  name: 'StartName',
  data() {
    return {
      pcName: ""
    }
  },
  methods: {
    setName() {
      this.$emit("setName", this.pcName);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#textboxName {
  position: absolute;
  left: 33.5rem;
  top: 51rem;
  width: 15rem;
}

.a-button {
  position: absolute;
  left: 37.7rem;
  top: 54rem;
  padding: 0.7rem;

  font-family: Roboto;
  font-style: normal;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.075em;

  color: #FFFFFF;
  cursor: pointer;
}

.a-button:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  font-weight: 900;
}
</style>
