<template>
  <div class="start">
    <div v-if="this.personalCharacter.character_created === '1'" class="game">
      <h1 class="wip">En construcción</h1>
    </div>
    <div v-else>
      <header>
        <h1>Caeleste</h1>
      </header>
      <div class="arrow"></div>
      <a href="#name" class="scroll">Scroll</a>
      <StartName v-if='this.personalCharacter.name===""' @setName="assignNameToCharacter"/>
      <div v-else>
        <StartTests :personalCharacter="personalCharacter" @deleteCharacter = "deleteCharacter" />
      </div>
    </div>
  </div>
</template>

<script>
import StartName from '@/components/Start/StartName.vue';
import StartTests from '@/components/Start/StartTests.vue';
import api from "@/api";

export default {
  name: 'StartPage',
  components: {
    StartName,
    StartTests
  },
  data() {
    return {
      personalCharacter: {
        name: "",
        class_id: 1,
        user_id: 1,
        character_created: false
      }
    }
  },
  props: {
    firstTime: {
      type: Boolean,
      default: true
    }
  },
  mounted: function() {
    this.getCharacter();
  },
  methods: {
    async assignNameToCharacter(pcName) {
      this.personalCharacter.name = pcName;
      await api.createCharacter(this.personalCharacter);
      await this.getCharacter();
    },
    async getCharacter() {
      let character = await api.getCharacter();
      if(character !== undefined) {
        this.personalCharacter = character;
      }
    },
    async deleteCharacter() {
      await api.deleteCharacter(this.personalCharacter.id);
      this.$router.go();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  position: absolute;
  width: 50rem;
  height: 12rem;
  left: 20rem;

  font-family: Lustria;
  font-style: normal;
  font-weight: normal;
  font-size: 7rem;
  line-height: 11.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.24em;

  color: #E5E5E5;
}

.wip {
  position: absolute;
  text-align: center;
  color: #E5E5E5;
  margin: 40px 0 0;
  left: 31.7rem;
  top: 2rem;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: bold;
}

.arrow {
  position: absolute;
  width: 8.5rem;
  left: 37.5rem;
  top: 24rem;

  border: 1px solid rgba(255, 255, 255, 0.53);
  box-sizing: border-box;
  transform: rotate(90deg);
}

.scroll {
  position: absolute;
  left: 39.7rem;
  top: 29rem;

  font-family: Ranga;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.075em;

  color: #C9C9C9;
}
</style>
