<template>
  <div class="answers">   
    <div v-for="answer in answers" :key="answer.id">
      <Answer :answer="answer" @sendAnswer="emitAnswer" />
    </div>
  </div>
</template>

<script>
import Answer from '@/components/StoryStats/Answer.vue';

export default {
  name: 'Answers',
  components: {
    Answer
  },
  props: {
    answers: {
      type: Array
    }
  },
  methods: {
    emitAnswer(chosenAnswer) {
      this.$emit("sendAnswer", chosenAnswer);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.answers {
  position: absolute;
  width: 48rem;
  top: 20rem;
  left: 16rem;
  margin-top: 2rem;
}

</style>
