<template>
  <div class="answer-component"> 
    <a @click="emitAnswer" class="answer">{{this.answer.text}}</a>
  </div>
</template>

<script>
export default {
  name: 'Answer',
  props: {
    answer: {
      type: Object
    }
  },
  methods: {
    emitAnswer() {
      this.$emit("sendAnswer", this.answer);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.answer {
  position: relative;
  margin: 1rem;
  padding: 1rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.3rem;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.075em;

  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  cursor: pointer;
}

.answer:hover {
  font-weight: 900;
  border: 2px solid #fff;
}
</style>
