<template>
  <div class="scenario">
    {{this.scenario.text}}
  </div>
</template>

<script>

export default {
  name: 'Scenario',
  props: {
    scenario: {
      type: Object
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.scenario  {
  position: absolute;
  width: 50rem;
  height: 5rem;
  left: 18rem;
  top: 11rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.3rem;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.08em;

  color: #FFFFFF;
  white-space: pre-line;
}
</style>
