<template>
  <div class="StoryStats">
    <h1>{{this.personalCharacter.name}}</h1>
    <Scenario :scenario="scenario" />
    <Answers :answers="answers" @sendAnswer="addStats" />
  </div>
</template>

<script>
import Scenario from '@/components/StoryStats/Scenario.vue';
import Answers from '@/components/StoryStats/Answers.vue';
import api from "@/api";

export default {
  name: 'StoryStats',
  components: {
    Scenario,
    Answers
  },
  data() {
    return {
      personalCharacter: {
        type: Object
      },
      scenario: {
        id: null,
        text: "",
        phase: null
      },
      answers: {
        type: Array
      },
      phase: {
        type: Number,
        default: 1
      }
    }
  },
  mounted: function() {
    this.initiateStory();
  },
  methods: {
    async initiateStory() {
      this.phase = 1;
      await this.getCharacter();
      await this.getScenario();
      await this.getAnswers();
    },
    async getCharacter() {
      this.personalCharacter = await api.getCharacter();
    },
    async getScenario() {
      console.log("Escenario", this.scenario)
      var scenarios;
      if(this.scenario.phase != null) {
        scenarios = await api.getScenario(parseInt(this.scenario.phase) + 1);
      } else {
        console.log("Esto");
        scenarios = await api.getScenario(1);
      }
      this.scenario = scenarios[0];
    },
    async getAnswers() {
      this.answers = await api.getAnswers(this.scenario.id);
    },
    async nextScenario() {
      await this.getScenario();
      await this.getAnswers();
    },
    async addStats(chosenAnswer) {
      this.addStatsToCharacter(chosenAnswer);
      if(this.scenario.phase < 10) {
        this.nextScenario();
      } else {
        this.personalCharacter.character_created=true;
        await api.updateCharacter(this.personalCharacter);
        this.$router.push('/profile');
      }
    },
    addStatsToCharacter(chosenAnswer) {
      if(chosenAnswer.stat_to_increase === "strength") {
        this.personalCharacter.strength = parseInt(this.personalCharacter.strength) + parseInt(chosenAnswer.increase_points);
      } else if(chosenAnswer.stat_to_increase === "perception") {
        this.personalCharacter.perception = parseInt(this.personalCharacter.perception) + parseInt(chosenAnswer.increase_points);
      } else if(chosenAnswer.stat_to_increase === "endurance") {
        this.personalCharacter.endurance = parseInt(this.personalCharacter.endurance) + parseInt(chosenAnswer.increase_points);
      } else if(chosenAnswer.stat_to_increase === "charisma") {
        this.personalCharacter.charisma = parseInt(this.personalCharacter.charisma) + parseInt(chosenAnswer.increase_points);
      } else if(chosenAnswer.stat_to_increase === "intelligence") {
        this.personalCharacter.intelligence = parseInt(this.personalCharacter.intelligence) + parseInt(chosenAnswer.increase_points);
      } else if(chosenAnswer.stat_to_increase === "agility") {
        this.personalCharacter.agility = parseInt(this.personalCharacter.agility) + parseInt(chosenAnswer.increase_points);
      } 
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  position: absolute;
  left: 37rem;
  margin-top: 3rem;
  font-family: Roboto;
  color: #E5E5E5;
}
</style>
