<template>
  <div id="app">
    <Nav />
    <router-view></router-view>
  </div>
</template>

<script>
import Nav from '@/components/Nav.vue'

export default {
  name: 'App',
  components: {
    Nav
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  position: relative;
  width: 70rem;
  height: 64rem;
  background: linear-gradient(122.09deg, #62868E 6.9%, #38636C 15.57%, #234359 28.81%, #402357 54.36%, #214A68 94.52%);
  text-align: center;
}
</style>
