<template>
    <article class="about">
        Creado por <a href="https://gitlab.com/yespy13" target="_blank">Yeray Espinosa Cuevas</a> basado en las historias de <a href="https://bitacoreantes.blogspot.com/" target="_blank">Ananda Sánchez</a> y <a href="https://luthierdelaspalabras.blogspot.com/" target="_blank">Yeray Espinosa Cuevas</a>.
        <br />
        Diseño original de <a href="https://gitlab.com/imivs" target="_blank">María Fernández</a>.
    </article>
</template>

<script>

export default {
    name: 'About'
}
</script>

<style>
.about {
    padding-top: 5rem;
    padding-left: 17rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 2.3rem;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.08em;

    color: #FFFFFF;
    white-space: pre-line;
}

a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
    letter-spacing: 0.075em;

    color: #FFFFFF;
}
</style>